<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>

  <connectionStrings>
    <!--<add name="HiraSweets.Properties.Settings.hirasweetsConnectionString"
            connectionString="Data Source=173.198.253.218;Initial Catalog=hirasweets;User ID=irad42;Password=Hello321"
            providerName="System.Data.SqlClient" />-->
    <add name="HiraSweets.Properties.Settings.hirasweetsConnectionString" connectionString="Data Source=HIRASWEETS\SQLEXPRESS;database=hirasweets;Integrated security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<appSettings>
    <add key="sqlKey" value="Server=173.198.253.218; uid=irad42;pwd=Hello321; database=hirasweets;"></add>
    <add key="CouponItem" value="Ticket Restaurant,Soodku"></add>-->
  <appSettings>
    <!--Connection String Area-->

    <!--<add key="sqlKey" value="server=SANJEEV-PC; database=38barracks; uid=theos; pwd=panna"></add>-->
    <!--<add key="sqlkey" value="data source=JATINDER-PC\SQLEXPRESS;initial catalog=sigra_08_10;integrated security=true"></add>-->

    <!--<add key="sqlKey" value="server=120.138.8.99,1616; database=DiabloPOS; uid=dbpos; pwd=dbpos"></add>-->

    <add key="sqlkey" value="data source=VIKASH;initial catalog=Romio22112025;integrated security=true"></add>
    
    
   
    <add key="Log_Drive" value="D"></add>
    <!--Online Syn End-->

  
    <add key="ReadData" value="0"/>
    <add key="MasterPrinter" value="0"/>
    <add key="SPACE" value="2"/>
    <add key="Istesting" value="1"/>
    <add key="IsBoltorderPrint" value="1"/>
    <add key ="GenerateLog" value="1"></add>
    <add key ="is_Print_HD_BIll" value="1"></add>
    <add key ="is_Print_HD_KOT" value="1"></add>

    <add key ="APIBased" value="1"></add>
    <!--SMS Integration Code-->
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
