<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="HiraSweets.Properties.Settings.hirasweetsConnectionString"
            connectionString="Data Source=173.198.253.218;Initial Catalog=hirasweets;User ID=irad42;Password=Hello321"
            providerName="System.Data.SqlClient" />-->
    <add name="HiraSweets.Properties.Settings.hirasweetsConnectionString"
         connectionString="Data Source=HIRASWEETS\SQLEXPRESS;database=hirasweets;Integrated security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<appSettings>
    <add key="sqlKey" value="Server=173.198.253.218; uid=irad42;pwd=Hello321; database=hirasweets;"></add>
    <add key="CouponItem" value="Ticket Restaurant,Soodku"></add>-->
  <appSettings>
    <!--Connection String Area-->
    <!--<add key="sqlKey" value="server=SANJEEV-PC; database=38barracks; uid=theos; pwd=panna"></add>-->


    <add key="sqlKey" value="Data Source=.\EXPRESS;Initial Catalog=pizzicato_13-02-19;Integrated Security=True"></add>
    
    
    <!--<add key="sqlKey" value="Server=192.168.1.12; uid=nazeer;pwd=panna; database=Nazeer"></add>-->
    <!--<add key="sqlKey" value="Server=192.168.1.88\SQLEXPRESS; uid=kp;pwd=panna; database=Kitchen_Display"></add>-->
    <!--<add key="sqlKey" value="Server=192.168.1.88\SQLEXPRESS; uid=romio_pacific;pwd=panna; database=nazeer_pacific"></add>-->
    <!--<add key="sqlkey" value="server=USER-PC\SQLEXPRESS; uid=romio1;pwd=panna; database=romio"></add>-->
    <!--<add key="sqlkey" value="server=192.168.1.88\sqlexpress; uid=kds;pwd=panna; database=kds"></add>-->
    <!--<add key="sqlKey" value="server=192.168.1.69; database=38_29_3_2018; uid=romio20; pwd=panna"></add>-->
    <!--<add key="sqlkey" value="server=VIKASH-PC\SQLEXPRESS; database=tawak_new; uid=tawak1; pwd=panna"></add>-->
    <!--<add key="sqlkey" value="server=USER-PC\SQLEXPRESS; uid=romio1;pwd=panna; database=romio"></add>-->


    <!--<add key="sqlkey" value="server=10.0.0.4\SQLEXPRESS; uid=romio1;pwd=panna; database=romio"></add>-->
    <!--Connection String Area-->
    <!--Online Syn Statrt-->
    <add key="TaxCap" value="0"></add>
    <add key="OutletID" value="5"></add>
    <add key="OutletName" value="Tawak"></add>
    <add key="POSCode" value="A"></add>
    <add key="DiscountCap" value="100"></add>
    <add key="DBBak" value="Nazeer_foods"></add>
    <!--Online Syn Statrt-->
    <!--<add key="sqlKeyOnline" value="Server=115.124.120.23; uid=nazeer_demo;pwd=Ins2213; database=nazeer_demo"></add>-->
    <add key="sqlKeyOnline" value="Server=115.124.120.23; uid=nazeer;pwd=Ins54321; database=nazeer_foods"></add>
    <add key="CouponItem" value="Ticket Restaurant,Sodexo"></add>
    <add key="Log_Drive" value="D"></add>
    <!--Online Syn End-->

    <add key="MailHost" value="mail.romiotech.com"></add>
    <add key="EmailPassword" value="Ins2213"/>
    <add key="FromMail" value="alert@romiotech.com"/>
    <add key="ToMail" value="nazeerradisson@gmail.com"/>
    <!--<add key="ToMail" value="vikashrajinfo@gmail.com"/>-->
    <!--Service Tax Cap-->
    <add key="ST_HD" value="0"/>
    <add key="ST_TA" value="0"/>
    <!--Service Tax Cap-->

    <!--SMS Integration Code-->
    <add key="UserName"  value="romi-nazeer"/>
    <add key="Password" value="363636"/>
    <add key="type" value="5"/>
    <add key="Source" value="update"/>
    <add key="ReadData" value="0"/>

    <add key="IsPrintKOT" value="1"/>
    <!--SMS Integration Code-->
  </appSettings>
</configuration>