
create or alter   proc [dbo].[Usp_GetBill_Detail_LiveSale]  --@IsBillSattle='1'                          
(                                
@bill_type varchar(2)=null,                                
@IsBillSattle varchar(2)=null                                
)                                     
as        
begin

SELECT * INTO #tempBill
FROM (
    SELECT *,0 as IsModifyFlag FROM tbl_Bill WITH (NOLOCK) WHERE up_flag = 0 AND IsBillSattle = 1

    UNION ALL

    SELECT *,1 as IsModifyFlag FROM tbl_Bill WITH (NOLOCK) WHERE isModify = 1
) AS t;  


select top 10 POS_code,Bill_Type,Bill_No,convert(varchar,Bill_Date,120) as Bill_Date,Cust_Code,Table_No,        
Bill_Amount,Dis_Amount,Service_Charge_Rate,Service_Charge_Amount,Tax_Sale1,Tax1,Tax_Rate1,Other_Charge,No_of_Item,        
Grand_Total,Payment_Mode,Card_No,Paid_Amount,Balance,Bill_Status,Tips,To_Whom,Nos_Of_Printing,        
convert(varchar,Cancelled_Date,120) as Cancelled_Date ,convert(varchar,Cancelled_Time,120) as Cancelled_Time,        
Cancellation_Reason,Cancelled_Amount,Convert(varchar,TimeOut,120) as  TimeOut,        
convert(varchar,TimeIn,120) as TimeIn,Waiter_Code,TOT_Amount,IP,Reprint_by,Cancelled_By,Bill_Modify_by,        
bill_Modification_Reason,Comments,Advance,OrderNo,convert(varchar,OrderDate,120) as OrderDate,Cashier,        
convert(varchar,createdOn,120) as createdOn,IsBillSattle,RoundOff,card_amt,Discount_by,TockenNo,          
Service_Charge,sur_charge,Service_Tax,Table_Covered,Hold_Status,subTotal,Bill_DiscountPct,card_type,outlet_id,          
convert(varchar,Reprint_Time,120) as Reprint_Time,Reprint_Reason,up_flag ,dept_head,        
isnull(Modified_amount,0) as Modified_amount,convert(varchar,modified_date,120) as modified_date,isModify,Order_Status,        
Order_View_by ,convert(varchar,Order_View_Time,120) as Order_View_Time ,convert(varchar,Order_Done_Time,120) as Order_Done_Time,        
Order_Done_by,Dispatch_by,convert(varchar,Dispatch_Time,120) as Dispatch_Time,Allocated_To,        
convert(varchar,Allocated_Time,120) as Allocated_Time,Allocated_by,Change_Amount,dis_type,Coupon_code,        
Web_order_no,web_order_comments,SBC_Tax,KKC_Tax,source_of_order,
WebOrder_No,zomato_order_id,IsManualPuch,Online_bill_PunchBy,loyality_type,loyality_rate,loyality_Point_CR,loyality_Point_DR,Total_Points_Redeemed,
Delivery_By,Channel,Channel_Order_Id,is_api_sync,isnull(Aggr_dis_amount,0) as Aggr_dis_amount,
isnull(Aggr_dis_pct,0) as Aggr_dis_pct,IsModifyFlag from #tempBill     order by Bill_No,IsModifyFlag

-------------tbl_Bill_Tran----------------------------
select a.Bill_No_FK,a.Item_Code,a.Qty,a.Rate,a.Comments,isnull(a.Dis_Rate,0) as 'Dis_Rate',a.Dis_Cycling,a.Dis_Code,isnull(a.Dis_Amount,0) as 'Dis_Amount',                                
isnull(a.Tax_Rate,0) as 'Tax_Rate',a.Sale_Tax_Cycling,isnull(a.Taxable_Amount,0) as'Taxable_Amount',isnull(a.Tax_Amount,0) as 'Tax_Amount',                  
a.Group_Dish,a.Amount,cancel_qty,cashier,convert(varchar,a.bill_date,120) as 'bill_date',                              
convert(varchar,a.kot_date,120) as 'kot_date',item_addon,head_id,order_status_tran,convert(varchar,a.Done_Time,120) as 'Done_Time',STax_Rate,            
SBC_Rate,SBC_Amount,KKC_Rate,KKC_Amount,Urgent_Item,addon_index,addon_index_fk,load_time,ready_time,Turnarround_Time from tbl_Bill_Tran as a with(nolock)            
where a.bill_no_fk in(select  distinct bill_no from #tempBill)                      


--------tbl_Payment_Settlement-----------------
select bill_no_fk,payment_mode,Amount,Cashier,card_type,
Invoice_No,convert(varchar,Bill_Date,120) as 'Bill_Date',convert(Varchar,created_on,120) as created_on,
hold_id from  dbo.tbl_Payment_Settlement   with(nolock)   
where bill_no_fk  in(select  distinct bill_no from #tempBill)  

---tbl_assorted_item--------------------------
select id,          
i_code,i_code_fk,Qty,bill_no,convert(varchar(16),bill_date,120) as 'bill_date',created_by,convert(varchar(16),created_on,120) as 'created_on', 
cancel_qty,Order_Type,item_index,isDiscount,convert(varchar,Order_Done_Time,120) as 'Order_Done_Time',Order_status,Step_index,CancelType,
DishComment,isnull(tran_rate,0) as'tran_rate',isnull(tran_amount,0) as 'tran_amount'          
from tbl_assorted_item  with(nolock)  where bill_no  in(select  distinct bill_no from #tempBill)             
          
---------------TAX dETAIL-------------          
select Bill_No_FK,CONVERT(VARCHAR,Bill_Date,120) AS Bill_Date,Item_Code_FK,Taxable_Amt,Tax_Rate,Tax_Amt,          
Tax_Code,Tax_Name,Tax_Type,Tax_Calc_Formula,Tax_display_name,Group_Name,IsAssorted,AmountBeforeTax,AmountAfterTax,          
cashier,CONVERT(VARCHAR,Created_on,120) AS Created_on,Updated_by,CONVERT(VARCHAR,Updated_on,120) AS Updated_on from tbl_bill_tax  with(nolock) 

where bill_no_fk in(select distinct bill_no from #tempBill)


drop table #tempBill


select top 20 ID,Name,convert(varchar,DOB,120) as 'DOB',Address,Mobile_No,Phone_No,City,Created_by,email_id,location_id,Colony_id
,convert(varchar,Created_on,120) as 'Created_on',Location,Remarks,Tin_no,SourceOfOrder,
state_id_fk,Anniversity,NameofInstitution,gender,convert(varchar,Modify_date,120) as Modify_date,
PIN_Code,Age,Income_Range,City_id        
 from tbl_customerinfo   with(nolock)  where Up_flag=0



 select id,bill_no,convert(varchar,datr1,120) as 'datr1',acode,convert(varchar(10),bill_date,120) as 'bill_date',              
paid_amt,convert(varchar,paid_date,120) as 'paid_date',pay_type,chq_no,bank_acode,            
remark,createdby,convert(varchar,createdDate,120) as 'createdDate',convert(varchar,Last_Update,120) as 'Last_Update',  
Last_CreatedBy,Approved_By,convert(varchar,Approved_Date,120) as 'Approved_Date',isApproved              
from Tbl_Expense_mast with(nolock)  where up_flag=0   and isApproved=1
union all
 select id,bill_no,convert(varchar,datr1,120) as 'datr1',acode,convert(varchar(10),bill_date,120) as 'bill_date',              
paid_amt,convert(varchar,paid_date,120) as 'paid_date',pay_type,chq_no,bank_acode,            
remark,createdby,convert(varchar,createdDate,120) as 'createdDate',convert(varchar,Last_Update,120) as 'Last_Update',  
Last_CreatedBy,Approved_By,convert(varchar,Approved_Date,120) as 'Approved_Date',isApproved              
from Tbl_Expense_mast with(nolock) where up_flag=2 

end
